# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
frontend/.next/
patient-app/android/
patient-app/ios/
patient-app/%ProgramData%/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
frontend/tsconfig.tsbuildinfo

# Misc
.DS_Store
Thumbs.db
